/*
Home Page Styling
*/
body {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
}

/*Navigation Bar*/
.navbar {
    background: white;
    border-bottom: #E0E0E0 0.1rem;
    top: 0;
    width: 100%;
    overflow: hidden;
    position: sticky;
  }
  
  .navbar img {
    margin-left: 0.5rem;
    vertical-align: bottom;
  }
  
  /*
  Hide hamburguer in standard view
  */
  
  .navbar label, #hamburger {
    display: none;
  }
  
  .navitems {
    display: flex;
    float: right;
  }

.button-nav {
  display: inline-block;
  text-align: center;
  color: black;
  font-weight: bold;
  /* background-color: rgb(195, 195, 195); */
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  margin: 1rem 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  }
  
  .button-nav:hover, .button-nav:focus {
    color:white;
    background-color:black;
  }
  
  .button-nav span {
    cursor: pointer;
    transition: 0.2s;
  }
  
  .button-nav:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /*Images*/
  a>.img-overlay:hover, a>.img-overlay:active, a>img-overlay:focus {
    opacity: 0.5;
    transition: 0.5s ease;
  }

  /*HAMBURGER MENU FOR MOBILE SIZE SCREEN*/
  @media screen and (max-width: 50rem) {
    /*
    Navbar hamburger icon on mobile view
    */
    .navbar label {
      display: inline-block;
      color: white;
      background: #74D381;
      font-style: normal;
      padding: 1.25rem;
    }
    .navitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 0.1rem solid #74D381;
    }
    /*
    Toggles the hamburger icon in mobile view
    */
    .navitems {
      display: none;
      float: none;
    }
    .navbar input:checked~.navitems {
      display: block;
      float: none;
    }
  }