/*
Home Page Styling
*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  /* padding: 2rem; */
}
* {
  box-sizing: border-box;
  /* border:1px solid red; */
}
/*Navigation Bar*/
.navbar {
  background: white;
  border-bottom: #e0e0e0 0.1rem;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: sticky;
}

.navbar img {
  /* margin-left: 0.5rem; */
  vertical-align: bottom;
}

.home_wallpaper {
  background-image:url(../images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  width:100vw;
  height:100vh;
  /* border:solid black 2px; */
}


.wallpaper_text {
  position:absolute;
  top:50%;
  left:30%;
  font-size: 5rem;
}

/*
  Hide hamburguer in standard view
  */

.navbar label,
#hamburger {
  display: none;
}

.navitems {
  display: flex;
  float: right;
}

.button-nav {
  display: inline-block;
  text-align: center;
  color: black;
  font-weight: bold;
  /* background-color: rgb(195, 195, 195); */
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  margin: 1rem 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.button-nav:hover,
.button-nav:focus {
  color: white;
  background-color: black;
}

.button-nav span {
  cursor: pointer;
  transition: 0.2s;
}

.button-nav:hover span:after {
  opacity: 1;
  right: 0;
}

/*Images*/
a > .img-overlay:hover,
a > .img-overlay:active,
a > img-overlay:focus {
  opacity: 0.5;
  transition: 0.5s ease;
}

.about_container{
  background-color: black;
  color:white;
  display:flex;
  width:100vw;
  margin:0;
  margin-bottom: 5rem;
}

.about_container>div:nth-of-type(1){
  width:50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:5rem;
}

.about_container>div:nth-of-type(2){
  width:50%;
  height:auto;
  padding:0;
}

.about_container img{
  width:100%;
  height:100%;
}


.about_container2{
  background-color: black;
  color:white;
  display:flex;
  width:100vw;
  margin:0;
}

.about_container2>div:nth-of-type(1){
  width:50%;
  height:auto;
  padding:0;
}

.about_container2>div:nth-of-type(2){
  
  width:50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:5rem;
}

.about_container2 img{
  width:100%;
  height:100%;
}

.stores{
  display:flex;
  justify-content: space-between;
}

.contact_text>div:nth-of-type(2){
  margin-bottom: 2rem;
}


/*HAMBURGER MENU FOR MOBILE SIZE SCREEN*/
@media screen and (max-width: 50rem) {
  /*
    Navbar hamburger icon on mobile view
    */
  .navbar label {
    display: inline-block;
    color: white;
    background: #74d381;
    font-style: normal;
    padding: 1.25rem;
  }
  .navitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 0.1rem solid #74d381;
  }
  /*
    Toggles the hamburger icon in mobile view
    */
  .navitems {
    display: none;
    float: none;
  }
  .navbar input:checked ~ .navitems {
    display: block;
    float: none;
  }
}
