/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  /* background-image: linear-gradient(to top, #baf4ba 0%, #ffffff 50%); */
  background: white;
}

.details {
  display: flex;
  gap: 4%;
  max-width: 1800px;
  margin: auto;
  padding: 2rem;
  /* border: solid black 0.5rem; */
}

p {
  margin-top: 0;
  text-align: start;
  width: 100%;
}

nav a:hover,
nav a:focus {
  text-decoration: none;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover,
.button-nav:focus {
  background-color: rgb(96, 96, 96);
}

.main-nav {
  display: inline-block;
  text-align: center;
  color: black;
  font-weight: bold;
  /* background-color: rgb(195, 195, 195); */
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  margin: 1rem 1rem;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.top_nav {
  border-top: black solid 0.1rem;
  border-bottom: black solid 0.1rem;
  display: flex;
  justify-content: space-around;
}

.main-nav:hover,
.main-nav:focus {
  color: white;
  background-color: black;
}

a:hover img {
  box-shadow: 0rem 0rem 0.5rem grey;
  border: solid 0.1rem black;
  /* border-radius: 1rem; */
  transition-delay: 0s;
}

a:focus img {
  border: 0.1rem solid black;
}

img {
  width: 100%;
}

.product_images {
  margin: 0 3rem;
  width: 40%;
  display: block;
  gap: 2%;
  /* border: solid 0.1rem black; */
}

.product_info {
  width: 40%;
}

.small_pics {
  display: flex;
  /* border: solid 0.1rem black; */
  gap: 1.5%;
  width: 33%;
  margin: 0.25rem 0;
}

.small_pics:hover{
  cursor:pointer;
}

.size {
  display: inline-block;
  gap: 1rem;
}

.size button {
  display: inline-block;
  font-size: 1rem;
  min-width: 10rem;
  min-height: 6rem;
  padding: 0.6em 1rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #eee;
  background-color: rgb(255, 254, 255);
}

.size button:hover,
.size button:focus {
  background: black;
  color: white;
}

.add_to_bag {
  margin: 1rem 0;
}

.add_to_bag a {
  display: inline-block;
  width: 100%;
  background: black;
  padding: 2rem 0;
  text-align: center;
  color: white;
  text-decoration: none;
  border-radius: 5rem;
}

.add_to_bag a:hover,
.add_to_bag a:focus {
  background: rgb(102, 102, 102);
}

.description{
    margin-top: 5rem;
}
